@import url('../assets/fontstyles.css');

@property --main-bg {
    syntax: '<color>'; 
    inherits: true;
    initial-value: #f1f1f1;
}
@property --main-color {
    syntax: '<color>'; 
    inherits: true;
    initial-value: #212121;
}
@property --sun-moon-color {
    syntax: '<color>'; 
    inherits: true;
    initial-value: gold;
}
@property --sun-moon-center-x {
    syntax: '<number>'; 
    inherits: true;
    initial-value: 395;
}
@property --menu-active-color{
    syntax: '<color>';
    inherits: true;
    initial-value: rgb(18, 0, 99);
}
@property --menu-color-hover{
    syntax: '<color>';
    inherits: true;
    initial-value: #444;
}

:root{
    --dark-light-switch-label-width: 36px;
    --site-direction: ltr; 
    --site-ltr-dark-light-switch-padding: calc(100vw - var(--dark-light-switch-label-width));
    --site-rtl-dark-light-switch-padding: 32px;
    --site-left-pixelsize: var(--site-ltr-dark-light-switch-padding); 
    --fill-width: 100%;
    --font-size: 16px;
    --btn-custom-red-primary: rgb(255, 0, 76);
    --main-bg: #f1f1f1;
    --main-bg-light: #f1f1f1;
    --main-bg-dark: #212121;
    --main-color: #212121;
    --menu-height: 3em;
    --menu-bg: #f1f1f1;
    --menu-bg-from: rgb(18, 0, 99);
    --menu-bg-linear-percentage: 20%;
    --menu-bg-to: rgba(47, 0, 255, 0.0);
    --menu-color: #222;
    --menu-active-color: rgb(18, 0, 99);
    --menu-color-hover: #444;
    --card-bg: rgba(221, 221, 221, 0.2);
    --product-columns: 3;
    --product-card-gap-column: 1em;
    --product-card-gap-row: 1.5em;
    --extra-width: 0;
    --main-container-width: calc(100vw - calc( 2 * var(--container-padding) )  - var(--extra-width));
    --main-container-height: calc(100vh - var(--menu-height));
    --description-font-size-4: 1.2em;
    --description-font-size-3: 1em;
    --description-font-size-2: 0.8em;
    --description-font-size-1: 0.5em;

    --container-padding-top: 2em;
    /* --container-padding-left: 2em; */
    --container-padding-left: calc(2 * var(--menu-height));
    --container-padding-bottom: 2em;
    --container-padding-right: 2em;

    --scrollbar-color: black;
    --scrollbar-color-hover: gray;
    --sun-moon-color: gold;
    --sun-moon-center-x: 395;

    /*  theme variables */
    --dark-color-60: #212121;
    --light-color-60: #f1f1f1;
    --default-transition: 200ms;
    --dark-menu-active-color: rgb(18, 0, 99);
    --light-menu-active-color: rgb(75, 35, 255);
    --dark-menu-color-hover: #aaa;
    --light-menu-color-hover: #444;
    --card-shadow: #4441;
}


/*******************************************************************************/
::-webkit-scrollbar {
    width: 4px;
}
/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px var(--scrollbar-color-hover , grey);
    border-radius: 4px;
    margin-top: 5px;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--scrollbar-color , #48ff00);
    border-radius: 4px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-color-hover , #36a9a9);
}
/*******************************************************************************/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
    background: var(--main-bg);
    color: rgb(19, 19, 19);
    overflow: hidden;
    font-size: var(--font-size , 16px);
    font-family: Roboto-Regular;
    transition: all var(--default-transition);
}

@media screen and (max-width: 548px) {
    body{
        --font-size: 12px;
        --product-columns: 1;
    }
}
@media screen and (max-width: 800px) and (min-width: 549px) {
    body{
        --font-size: 14px;
        --product-columns: 2;
    }
}
@media screen and (min-width: 801px) {
    body{
        --font-size: 16px;
        --product-columns: 3;
    }
}
@media screen and (min-width: 1200px) {
    body{
        --font-size: 20px;
        --product-columns: 4;
    }
}

.router-render{
    position: fixed;
    top: var(--menu-height);
    left: 0;
    margin: 0;
    padding-top: var(--container-padding-top);
    padding-left: var(--container-padding-left);
    padding-bottom: var(--container-padding-bottom);
    padding-right: var(--container-padding-right);
    width: 100vw; /*var(--main-container-width);*/
    height: var(--main-container-height);
    overflow-y: auto !important;
    overflow-x: hidden;
}

.router{
    display: block;
    height: fit-content;
}

p{
    padding: var(--font-size);
}


/*

global animations
 -- macro animations :

*/

@keyframes go_to_page {
    0%{
        opacity: 0;
        margin-left: -30px;
    }
    100%{
        opacity: 1;
        margin-left: 0;
    }
}
@keyframes go_out_page {
    0%{
        opacity: 1;
        margin-left: 0;
    }
    100%{
        opacity: 0;
        margin-left: 30px;
    }
}
@keyframes go_top_page {
    0%{
        opacity: 0;
        margin-top: -30px;
    }
    100%{
        opacity: 1;
        margin-top: 0;
    }
}
@keyframes go_down_page {
    0%{
        opacity: 1;
        margin-top: 0;
    }
    100%{
        opacity: 0;
        margin-top: 30px;
    }
}
